<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.spring.persistence.hsql.Tabla2Mapper">

	<resultMap id="BaseResultMap" type="es.spring.model.Tabla2">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="nombre" property="nombre" jdbcType="VARCHAR" />
		<result column="fecha" property="fecha" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="selectByExample" resultMap="BaseResultMap">
		SELECT id, nombre, fecha
		FROM t_tabla_2
	</select>

	<insert id="insert" parameterType="es.spring.model.Tabla2" >

		insert into t_tabla_2 (id,nombre,fecha)
		values (
		#{id,jdbcType=INTEGER},
		#{nombre,jdbcType=VARCHAR},
		#{fecha,jdbcType=TIMESTAMP}
		)
	</insert>

</mapper>
